body {
    background-color: #C4E2F5;
    margin: 0 auto;
}

h2 {
    margin: 0 auto;
}

nav {
    background-color: #2C5EAD;
    display: flex;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav h2 {
    color: #4BB8FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #4BB8FA;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li:hover {
    transition: 0.2s;
    transform: rotate(1.5deg);
    scale: 1.1;
}

.menu-bar {
    display: flex;
    align-items: center;
    width: calc(90% - 40px)
}

.book-list h2 {
    color: #1591DC;
    text-align: center;
    margin-top: 10px;
}

.book-list ul {
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
}

.book-list ul li {
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
}

.book-list ul li a {
    color: #4BB8FA;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

.book-list ul li img {
    width: 200px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}